


@using Repository

@model Models.ApplicationUser
@{
    ViewBag.Title = "User Profile";
    string imgPath = "~/AppImages/"+@Model.ImagePath;
}

@section Styles{
    <link href="~/assets/css/profile.css" rel="stylesheet" />
}

<aside class="profile-card">
    <header>
        <!-- here’s the avatar -->
        <h5>Personal Info</h5>
        <a target="_blank" href="#">
            @*<img src="~/AppImages/21024442627571719.png" />*@
            <img src=@Url.Content(imgPath) />

        </a>

        <!-- the username -->
        <h2>
            @Model.UserName
        </h2>

        <!-- and role or location -->
        <h2>
            @Model.Type
        </h2>

       


    </header>

    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">

        <p> Email : @Model.Email</p>
        <p> Gender : @Model.gender</p>
        <p> City : @Model.city</p>
        <p> Phone Number  : @Model.PhoneNumber</p>


        @if (@Model.Type == UserType.Owner)
        {

            <img src="~/images/football-player.png" />
            @Html.ActionLink("Edit play grounds", "Dash", "Account")
            <br />

            List<Playground> pgs = new List<Playground>();
            


            @Html.ActionLink("Display play grounds", "Profile_Playgrounds", "Account",pgs)





        }


    </div>
        @*some social links to show off
            <ul class="profile-social-links">
                <li>
                    <a target="_blank" href="https://www.facebook.com/creativedonut">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/dropyourbass">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/vipulsaxena">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.behance.net/vipulsaxena">

                        <i class="fa fa-behance"></i>
                    </a>
                </li>
            </ul>*@
    </aside>