@model Models.Playground

@{
    ViewData["Title"] = "Profile_Playgrounds";
}

<h1>Profile_Playgrounds</h1>

<div>
    <h4>Playground</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadiumArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PmPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PmPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Services)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Services)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaygroundStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaygroundStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOffered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOffered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlaygroundId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
