@model Playground
@using Models.ViewModels;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration config;

@{
    //var periods = (List<PlayGroundTimesViewModel>)ViewBag.times;
    var selectedDate = DateTime.Now.Date;
}

<link href="~/assets/css/Booking.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/dialog.css" />
<div class="fullWidth">
    <img class="center-fit" src="@string.Concat(@config.GetSection("AdminPanelUrl").Value,@Model.ImagePath)" />
</div>

<div class="row">
    <div class="col-md-5">
        <h1>Overview</h1>
        <p class="d-block">
            Finswimming is an underwater sport consisting of four techniques involving swimming with
            the use of fins either on the water's surface using a snorkel
        </p>
        <div>
            <i id="1" onclick="updateRate(this)" class="fa fa-star" style="color:aliceblue;cursor:pointer;font-size: 45px;"></i>
            <i id="2" onclick="updateRate(this)" class="fa fa-star" style="color:aliceblue;cursor:pointer;font-size: 45px;"></i>
            <i id="3" onclick="updateRate(this)" class="fa fa-star" style="color:aliceblue;cursor:pointer;font-size: 45px;"></i>
            <i id="4" onclick="updateRate(this)" class="fa fa-star" style="color:aliceblue;cursor:pointer;font-size: 45px;"></i>
            <i id="5" onclick="updateRate(this)" class="fa fa-star" style="color:aliceblue;cursor:pointer;font-size: 45px;"></i>
        </div>
    </div>

    <div class="col-md-2" id="bookDetails">
        <input type="hidden" id="playground" asp-for="PlaygroundId" />
        <div class="form-group">
            <label for="date" class="control-label"></label>
            <input asp-for="@selectedDate" id="selDate" type="date" onchange="checkBooking()" class="form-control" />
        </div>
        <div class="form-group">
            <label for="period" class="control-label">Select period</label>
            <select name="period" class="form-control" id="periods" onchange="onChangeSelectedPeriod(this.value)">
                @*@for (int i = 0; i < periods.Count(); i++)
                    {
                        <option name="options" value="@periods[i].Id">@periods[i].Time</option>
                    }*@
            </select>
            <label id="message"></label>
        </div>
        <div class="form-group">
            <input type="submit" id="bookBtn" value="Book" onclick="Confirm.render()" class="btn btn-primary" />
        </div>
    </div>

    <div class="col-md-5">

        <table style="width:50%;position:relative;left:22%">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <th>Area</th>
                    <td>@Model.StadiumArea</td>
                </tr>
                <tr>
                    <th>Number Of Players</th>
                    <td>@Model.NumOfPlayers</td>
                </tr>

                <tr>
                    <th>AM Price</th>
                    <td>@Model.AmPrice</td>
                </tr>

                <tr>
                    <th>PM Price</th>
                    <td>@Model.PmPrice</td>
                </tr>

                <tr>
                    <th>Rate</th>
                    <td class="Stars" style="--rating: @Model.Rate;" aria-label="Rating of this product is @Model.Rate out of 5."></td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td>@Model.PlaygroundStatus</td>
                </tr>

                @if (Model.Services != 0)
                {
                    <tr>
                        <th>Services</th>
                        <td>@Model.Services</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<div id="dialogoverlay"></div>
<div id="dialogbox">
    <div>
        <div id="dialogboxhead"></div>
        <div id="dialogboxbody"></div>
        <div id="dialogboxfoot"></div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/BookingJs.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>