@model Playground
@using Models.ViewModels;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration config;

@{
    var periods = (List<PlayGroundTimesViewModel>)ViewBag.times;
    var selectedDate = DateTime.Now.Date;
}

<link href="~/assets/css/Booking.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/dialog.css" />
<div class="fullWidth">
    <img class="center-fit" src="@string.Concat(@config.GetSection("AdminPanelUrl").Value,@Model.ImagePath)" />
</div>

<div class="row">
    <div class="col-md-5">
        <h1>Overview</h1>
        <p class="d-block">
            Finswimming is an underwater sport consisting of four techniques involving swimming with
            the use of fins either on the water's surface using a snorkel
        </p>
    </div>

    <div class="col-md-2" id="bookDetails">
        <input type="hidden" id="playground" asp-for="PlaygroundId" />
        <div class="form-group">
            <label for="date" class="control-label"></label>
            <input asp-for="@selectedDate" id="selDate" type="date" onchange="checkBooking()" class="form-control" />
        </div>
        <div class="form-group">
            <label for="period" class="control-label">Select period</label>
            <select name="period" class="form-control" id="periods" onchange="checkBooking()">
                @for (int i = 0; i < periods.Count(); i++)
                {
                    <option value="@periods[i].Id">@periods[i].Time</option>
                }
            </select>
            <label id="message"></label>
        </div>
        <div class="form-group">
            <input type="submit" id="bookBtn" value="Book" onclick="Confirm.render()" class="btn btn-primary" />
        </div>
    </div>
</div>

<div id="dialogoverlay"></div>
<div id="dialogbox">
    <div>
        <div id="dialogboxhead"></div>
        <div id="dialogboxbody"></div>
        <div id="dialogboxfoot"></div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moment.js"></script>
<script src="~/dialog.js"></script>
<script src="~/BookingJs.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>